.post{
    height: 45vh;
    overflow-y: scroll;
}
.message{
    height: 35vh;
    overflow-y: scroll;
}
.comment_box{
    height: 35vh;
    overflow-y: scroll;
        overflow-x: hidden;
}
.chat{
    text-decoration: none;
    color: #202020;
}
.sender_name{
    font-size: 0.99em;
}
.latest_msg{
    font-size: 0.8em;
}
@media screen and (max-width:768px){
    .posttable td{
        font-size: 0.8em;
    }
    .posttable th{
        font-size: 0.8em;
    }
    .message p,.message h5{
       font-size: 0.9em;
    }
    .message img{
       height: 2em;
    }
    .comment td{
        font-size: 0.8em;
    }
    .comment th{
        font-size: 0.8em;
    }
    .message,.comment{
        width:100vw;
    }
}
.more_options_post{
    background: none;
    border: none;
}




.comments{
    border-right: 1px solid whitesmoke;
    
    padding-left: 0%;
    padding-right: 0%;
}

.mycomments{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    background-color: whitesmoke;
    height: 25vh;
    overflow: auto;
}
.mycomments ul{
    list-style: none;
}

.comment, .replies{
    background-color: white;
    padding: 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 2%;
    border-radius: 22px;
    height:auto;
}
.reply-txt{
    margin-top: 12%;
}
.form-reply{
   
}
.reply-box{
    margin-top: 2%;
}