.saved li{
    font-size: 0.9em;
}
.quick_reply{
    padding: .5em 1em;
    margin: 1em;
    background-color: #e9e9e9;
    border-radius: 10em;
    font-size: 0.8em;
    cursor: pointer
}
.text_input{
    background-color: #fff;
    border-radius: 1em;
    padding: 0.3em 1em;
}
.text_input input{
    outline: none;
    border: none;
}  
.reply_input{
    background-color: #fff;
    border-radius: 1em;
    padding: 0.3em 0em;
}
.reply_input input{
    outline: none;
    border: none;
}  

.specific_chat,.specific_chat_primary{
    height: auto;
    align-items: center;
    margin-left:1em;
    border-radius: .5em;
}
.specific_chat_primary{
    background-color: #ffffff;
}
.specific_chat{
    background-color: #ffffff;
}
.send_button{
    border: none;
}

.quick{
    height:20vh;
    overflow:auto;
}

.dm{
    min-width:50%;
}
.chat_time{
    font-size: 0.7em;
}
.bg{
    background: #e9e9e9;
}