body {
  color: rgb(59, 59, 59) !important;
  overflow-x: hidden;
}
.btn-filter {
  background-color: whitesmoke;
  border-radius: 60px;
}
.my-form {
  border-radius: 42px;
}
.container {
  margin-top: 7%;
}
.inbox {
  padding: 0%;
}
.inbox-head {
  padding-top: 6% !important;
  padding-bottom: 6% !important;
}
.bold {
  font-weight: bold;
}
.time {
  float: right;
}
.inbox-lists {
  height: 100vh;
  overflow: auto;
  border: 1px solid rgb(233, 232, 232);
  padding-left: 2%;
}
.inbox-list {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 15px;
  border-bottom: 1px solid rgb(233, 232, 232);
  cursor: pointer;
}
.inbox-list:hover {
  background-color: whitesmoke;
}
.check {
  margin-top: 4%;
  padding-left: 0%;
}
.check input {
}
.message {
  padding-right: 0%;
  padding-left: 0%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
}
.justify-content-start .message {
  margin-left: 2%;
}
.message-body {
  background-color: whitesmoke;
  height: 100vh;

  padding-top: 3%;
  padding-left: 3%;
}
.list-msg-detail {
  margin-top: 10px;
}

.msg-lists {
  overflow-x: auto;
  height: 65vh;
  width: 100%;
  padding-right: 3%;
  margin-bottom: 4%;
  overflow-x: hidden;
}
.section-head h2 {
  font-size: 25px;
  font-weight: bold;
}
.round-img {
  border-radius: 100%;
  display: block;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
}
.profile-img {
  border-radius: 100%;
  display: block;
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
}
.profile {
  height: 100vh;
  border: 1px solid rgb(226, 225, 225);
  padding-top: 3%;
  padding-left: 0%;
  padding-right: 0%;
}
.msg-list {
  margin-top: 3%;
}
.section-head {
  border: 1px solid rgb(233, 232, 232);
  padding: 2%;
}
.profile-details {
  text-align: center;
  margin-top: 12px;
}
.cust-body {
  height: 70%;
  background-color: rgb(236, 246, 246);
  padding-top: 10%;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 10%;
}
.detail-row {
  font-size: 15px;
  padding-right: 8%;
  margin-top: 15px;
  word-wrap: break-word;
}
.cust-details {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btn-profile {
  width: 80px;
}
.mynav {
  background-color: rgb(226, 248, 247);
  padding-left: 0%;
  padding-right: 0%;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.profile h2 {
  font-size: 25px;
}
.bold {
  font-weight: bold;
}
.inner-msg {
  padding-right: 0%;
}
.fb-btn {
}
/* posts page */

.posts-page {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 3px;
  margin-bottom: 5%;
}
.posts {
  border-right: 1px solid whitesmoke;

  padding-left: 0%;
  padding-right: 0%;
}
.comments {
  border-right: 1px solid whitesmoke;

  padding-left: 0%;
  padding-right: 0%;
}
.post-head {
  padding: 2%;
  border-bottom: 1px solid rgb(216, 215, 215);
  border-right: 1px solid rgb(235, 235, 235);
}
.myposts {
  padding: 2%;
  cursor: pointer;
}
.myposts:hover {
  background-color: whitesmoke;
}
.mycomments {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  background-color: whitesmoke;
  height: 80vh;
  overflow: auto;
}
.mycomments ul {
  list-style: none;
}

.comment,
.replies {
  background-color: white;
  padding: 2%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 2%;
  border-radius: 22px;
}
.reply-txt {
  margin-top: 12%;
}
.form-reply {
}
.reply-box {
  margin-top: 2%;
}
.post-img {
  background-color: violet;
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
}
.comment-name {
  margin-bottom: -2%;
  margin-top: 1%;
}
.sidebar {
  background-color: #004e96;

  padding-left: 0%;
  padding-right: 0%;
}
.icons {
  justify-content: center;
  /* background-color: white; */
  padding: 5%;
  padding-top: 23%;
  padding-bottom: 23%;
  text-align: center;
  border: 1px solid lightgrey;
}
.active {
  background-color: white;
}
.mylogo {
  text-align: center;
  width: 30px;
}
.col-md-1 {
  width: 6%;
}
.col-md-2 {
  width: 19%;
}
.myTime {
  text-align: right;
  font-size: 11px;
}
